header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    flex: 1 1 0%;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  ul {
    margin: auto;
    padding: auto;
    list-style: none;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }

  a {
    text-decoration: none;
  }
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.relative {
  position: relative;
}

.eclipseLogo {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.navItems {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #f9fafb;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.startNow {
  column-gap: 1.5rem;
  justify-content: flex-end;
  margin-top: 0;
}

.startNowButton {
  background: radial-gradient(
    67.5% 67.5% at 50% 50%,
    #4b5563 0,
    rgba(75, 85, 99, 0) 100%
  );
  border-width: 1px;
  border-color: rgb(107 114 128);
  border-radius: 9999px;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.financeTextBox {
  max-width: 48rem;
  text-align: center;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.financeText {
  background-image: linear-gradient(
    179.1deg,
    #ffffff 0.77%,
    rgba(255, 255, 255, 0) 182.09%
  );
  color: transparent;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  background-clip: text;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.getStartedButton {
  transition-duration: 0.15s;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-align: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity));
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.imgWrapper {
  position: relative;
  margin-top: 7rem;
}

.purpleBackground {
  background: linear-gradient(
    180deg,
    #7c3aed 0%,
    rgba(152, 103, 240, 0.984375) 0.01%,
    rgba(237, 78, 80, 0.2) 100%
  );
  height: 650px;
  --tw-blur: blur(160px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  max-width: 48rem;
  margin: auto;
  top: 3rem;
  position: absolute;
}
